@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.grad {
    /* height: 100VH; */
    background-color: rgb(0, 0, 0); /* For browsers that do not support gradients */
    background-image: linear-gradient(rgb(190, 190, 190),rgb(78, 0, 129), rgb(207, 61, 61) );
  }
.center {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; */
    }
         
.shadow{
    box-shadow: 2px 2px rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
}
  .font{
      margin-top: 1rem;
      font-family: staatliches;
      color: blueviolet;
  }
  .font2{
    font-family: staatliches;
    color: rgb(255, 255, 255);
}
button{
    font-family: staatliches ;
    color: rgb(0, 0, 0);
}
.bgw{
    background-color: white;
}